body {
  text-align: center;
  background: linear-gradient(135deg, #0a0033, #350068, #4f00b5, #0078ff);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  background: linear-gradient(90deg, #00eaff, #b300ff);
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
  margin-top: 50px;
}
p {
  font-size: 2rem; 
  color: #ff8c00;   
  /* text-shadow: 0 0 8px #ff8c00,  
               0 0 15px #ff3c00; */ 
  font-weight: 500;    
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
  margin-top: 40px;
  font-size: 1rem;
}

.set {
  margin: 10% auto;
}

.w {
  background-image: url("image/tom1.png");
}
.a {
  background-image: url("image/tom2.png");
}
.s {
  background-image: url("image/tom3.png");
}
.d {
  background-image: url("image/tom4.png");
}
.j {
  background-image: url("image/snare.png");
}
.k {
  background-image: url("image/crash.png");
}
.l {
  background-image: url("image/kick.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  transform: scale(0.95);
}

.drum {
  outline: none;
  border: 10px solid #58097a; 
  font-size: 4rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  transition: transform 0.1s ease, opacity 0.1s ease;
}